.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  @media screen and (min-width: 992px) {
    padding: 40px 5%;
  }
  &__logo {
    width: 145px;
    height: 46.88px;
    @media screen and (min-width: 992px) {
      width: 210px;
      height: 68px;
    }
    &__container {
      width: 100%;
    }
  }
}
