.banner {
  position: relative;
  width: 100%;

  &__img {
    height: 111px;
    width: 100%;
    filter: brightness(40%);
    border-radius: 10px;
    object-fit: cover;
    @media screen and (min-width: 992px) {
      height: 223px;
      border-radius: 25px;
    }
  }
  &__text {
    position: absolute;
    top: 0px;
    font-weight: 700;
    font-size: 24px;
    color: white;
    padding-left: 20px;
    width: 210px;
    line-height: 1;
    @media screen and (min-width: 992px) {
      font-size: 48px;
      text-align: center;
      top: 30px;
      width: 100%;
      padding-left: 0;
    }
  }
}
